<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
</head>
<body>
<div>
    each_oa
    <button>Homepage</button>
    <button>Publish</button>
    <input type="text" id="email" name="search" placeholder="Keywords"></input>
    <button>Search</button>
    <button>Sign in</button>
    <button>Register</button>
</div>
<div class="center">
    <label for="email">Email</label>
</div>
<div class="center">
    <input type="text" id="email" name="email" placeholder="email@xxx.xxx"></input>
</div>
<p class="p">The email will not be revealed to other users</p>
<div class="center">
    <label for="email">Captcha</label>
</div>
<div class="center">
    <input type="text" id="email" name="email"></input>
    <button type="button">Send message</button>
</div>
<div class="center">
    <label for="email">Username</label>
</div>
<div class="center">
    <input type="text" id="email" name="email"></input>
</div>
<div class="center">
    <label for="email">password</label>
</div>
<div class="center">
    <input type="text" id="email" name="email"></input>
</div>
<div class="center">
    <label for="email">Confirm password</label>
</div>
<div class="center">
    <input type="text" id="email" name="email"></input>
</div>
<div class="register_button">
    <button type="button">Register</button>
</div>


</body>
</html>